{% comment %}
    File: _includes/header.html
    Description: Unified header structure.
{% endcomment %}
<header class="header">
    <div class="header-left">
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
        </nav>
    </div>
    <div class="header-title">
        {{ site.title }}
    </div>
    <div class="header-right">
    </div>
</header>