<header class="header">
    <div class="header-left">
        <!-- 페이지 아이콘 -->
        <span class="icon">📁</span>
        <!-- 메뉴 -->
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="https://github.com/wnsgkchoi" target="_blank">Github</a>
        </nav>
    </div>
    <!-- 사이트 이름 -->
    <div class="header-title">
        {{ site.title }}
    </div>
    <!-- 토글 버튼 -->
    <div class="header-right">
        <button id="toggleSidebar">☰</button>
    </div>
</header>
